         
         body 
         {
            background: #bac0fa; 
            font-family: 'Caveat' cursive;
            margin: 0;
            padding-top: 50px;
            text-align: center;
            color: black;
          }

        /* white box for the middle (numbers to be entered) */
        .main-box 
        {
            background: white;
            padding: 30px; 
            width: 350px; 
            border-radius: 50px; 
            margin: auto;
        }

        h1 {
             color: black; 
             margin-bottom: 0; 
            }

        p { 
            color: black; 
            font-size: 13px; 
        }

        /* left-aligns the labels */
        .row 
        {
            text-align: left; 
            margin-bottom: 10px;
        }

        label 
        { 
            font-size: 12px; 
            color: black;
            margin-bottom: 3px;
        }

        input 
        { 
            width: 100%;
            padding: 8px; 
            border: 1px solid #902020;
        }

        /* background of the risk bar*/
        .bar-bg 
        { 
            background: #f1f2f6;
            width: 100%; 
            height: 15px;
            border-radius: 10px;
            margin: 15px; 
        }

        /* the bar that moves */
        #bar-fill
         { 
            width: 0%; 
            height: 100%;
            background: #6251d2;
            transition: 0.5s; 
        }

        button 
        {
            width: 100%;
            padding: 12px;
            background: #4834d4;
            color: white;
            border: none;
            cursor: pointer;
        }

        #result-text 
        { 
            font-weight: bold;
            color: black;
            margin: 20px /*keeps the text from touching */;
        }
