/* changes background to purple and centers the box */
         body {
            background: #667eea; 
            font-family: 'Poppins', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
          }

        /* white box for the middle (where data will be entered) */
        .main-box 
        {
            background: white;
            padding: 30px; 
            width: 350px; 
            border-radius: 20px; 
            text-align: center;
        }

        h1 { color: #4834d4; margin: 0; }
        p { color: #747d8c; font-size: 13px; }

        /* left-aligns the labels */
        .row 
        {
            text-align: left; 
            margin-bottom: 10px;
        }

        label 
        { 
            font-size: 12px; 
            color: #686de0;
            font-weight: 600;
            display: block;
        }

        input 
        { 
            width: 100%;
            padding: 10px; 
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box; 
        }

        /* background of the risk bar*/
        .bar-bg 
        { 
            background: #f1f2f6;
            width: 100%; 
            height: 15px;
            border-radius: 10px;
            margin: 20px 0; 
            overflow: hidden;
        }

        /* the bar that moves */
        #bar-fill
         { 
            width: 0%; 
            height: 100%;
            background: #4834d4;
            transition: 0.5s; 
        }

        button 
        {
            width: 100%;
            padding: 12px;
            background: #4834d4;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }

        #result-text 
        { 
            margin-bottom: 10px;
            font-weight: bold;
        }
